#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define DVO 1
#define QWE 2
#define WOR 3
#define M_D 4
#define M_Q 5
#define M_W 6
#define LAY 7

/ {
    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
                &none     &kp N1    &kp N2     &kp N3    &kp N4  &kp N5  &kp LG(LC(LEFT))  &bt BT_SEL 0  &kp LG(LC(RIGHT)) &kp N6  &kp N7  &kp N8   &kp N9    &kp N0  &none
                &none     &none     &none      &none     &none   &none   &kp LA(LS(TAB))   &bt BT_SEL 1  &kp LA(TAB)       &none   &none   &none    &none     &none   &none
                &none     &none     &none      &none     &none   &none   &kp LC(LS(TAB))   &bt BT_SEL 2  &kp LC(TAB)       &none   &none   &none    &none     &none   &none
                &none     &none     &none      &none     &none   &none   &out OUT_USB      &bt BT_CLR    &out OUT_BLE      &none   &none   &none    &none     &none   &kp ENTER
                &kp LGUI  &kp LEFT  &kp RIGHT  &kp BSPC  &none   &none   &to  DVO          &to  QWE      &to  WOR          &none   &none   &kp DEL  &kp DOWN  &kp UP  &none
            >;
        };

        dvorak {
            bindings = <
                &kp GRAVE  &trans    &trans     &trans   &trans    &trans     &trans  &kp N1  &trans  &trans      &trans     &trans     &trans  &trans  &kp NUBS
                &kp ESC    &kp APOS  &kp COMMA  &kp DOT  &kp P     &kp Y      &trans  &kp N2  &trans  &kp F       &kp G      &kp C      &kp R   &kp L   &kp SLASH
                &kp TAB    &kp A     &kp O      &kp E    &kp U     &kp I      &trans  &kp N3  &trans  &kp D       &kp H      &kp T      &kp N   &kp S   &kp MINUS
                &mo M_D    &kp SEMI  &kp Q      &kp J    &kp K     &kp X      &trans  &kp N4  &trans  &kp B       &kp M      &kp W      &kp V   &kp Z   &trans
                &trans     &trans    &trans     &trans   &kp RALT  &kp SPACE  &trans  &kp N5  &trans  &kp LSHFT   &kp LCTRL  &trans     &trans  &trans  &tog M_D
            >;
        };

        qwerty {
            bindings = <
                &kp ESC    &trans    &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &kp NUBS
                &kp TAB    &kp Q     &kp W   &kp E   &kp R      &kp T      &trans  &trans  &trans  &kp Y      &kp U      &kp I   &kp O   &kp P   &kp EQUAL
                &kp CAPS   &kp Q     &kp W   &kp E   &kp U      &kp I      &trans  &trans  &trans  &kp D      &kp H      &kp T   &kp N   &kp S   &kp MINUS
                &kp LSHFT  &kp SEMI  &kp Q   &kp J   &kp K      &kp X      &trans  &trans  &trans  &kp B      &kp M      &kp W   &kp V   &kp Z   &trans
                &trans     &trans    &trans  &trans  &mo M_Q    &kp SPACE  &trans  &trans  &trans  &kp SPACE  &mo M_Q    &trans  &trans  &trans  &tog M_Q
            >;
        };

        workman {
            bindings = <
                &kp GRAVE  &trans  &trans  &trans  &trans     &trans     &trans  &trans  &trans  &trans     &trans    &trans     &trans   &trans     &kp NUBS
                &kp ESC    &kp Q   &kp D   &kp R   &kp W      &kp B      &trans  &trans  &trans  &kp J      &kp F     &kp U      &kp P    &kp SEMI   &kp MINUS
                &kp TAB    &kp A   &kp S   &kp H   &kp T      &kp G      &trans  &trans  &trans  &kp D      &kp H     &kp T      &kp N    &kp S      &kp APOS
                &mo M_W    &kp Z   &kp X   &kp M   &kp C      &kp V      &trans  &trans  &trans  &kp K      &kp L     &kp COMMA  &kp DOT  &kp SLASH  &trans
                &trans     &trans  &trans  &trans  &kp LCTRL  &kp LSHFT  &trans  &trans  &trans  &kp SPACE  &kp RALT  &trans     &trans   &trans     &tog M_W
            >;
        };

        mod_dvorak {
            bindings = <
                &kp F12   &kp F1      &kp F2      &kp F3    &kp F4      &kp F5     &trans  &trans  &trans  &kp F6     &kp F7     &kp F8  &kp F9      &kp F10       &kp F11
                &trans    &kp PG_UP   &kp HOME    &kp UP    &kp END     &kp PSCRN  &trans  &trans  &trans  &kp NUBS   &kp N7     &kp N8  &kp N9      &kp MINUS     &kp SLASH
                &trans    &kp PG_DN   &kp LEFT    &kp DOWN  &kp RIGHT   &mo LAY    &trans  &trans  &trans  &kp LPAR   &kp N4     &kp N5  &kp N6      &kp EQUAL     &kp RPAR
                &trans    &kp C_MUTE  &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp DEL    &trans  &trans  &trans  &kp LBKT   &kp N1     &kp N2  &kp N3      &kp KP_ENTER  &kp RBKT
                &kp RGUI  &none       &none       &trans    &kp LALT    &kp SPACE  &trans  &trans  &trans  &kp RSHFT  &kp RCTRL  &kp N0  &kp KP_DOT  &none         &trans
            >;
        };

        mod_qwerty {
            bindings = <
                &kp F12   &kp F1      &kp F2      &kp F3    &kp F4      &kp F5     &trans  &trans  &trans  &kp F6     &kp F7     &kp F8  &kp F9      &kp F10       &kp F11
                &trans    &kp PG_UP   &kp HOME    &kp UP    &kp END     &kp PSCRN  &trans  &trans  &trans  &kp NUBS   &kp N7     &kp N8  &kp N9      &kp MINUS     &kp SLASH
                &trans    &kp PG_DN   &kp LEFT    &kp DOWN  &kp RIGHT   &mo LAY    &trans  &trans  &trans  &kp LPAR   &kp N4     &kp N5  &kp N6      &kp EQUAL     &kp RPAR
                &trans    &kp C_MUTE  &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp DEL    &trans  &trans  &trans  &kp LBKT   &kp N1     &kp N2  &kp N3      &kp KP_ENTER  &kp RBKT
                &kp RGUI  &none       &none       &trans    &trans      &kp SPACE  &trans  &trans  &trans  &kp SPACE  &trans     &kp N0  &kp KP_DOT  &none         &trans
            >;
        };

        mod_workman {
            bindings = <
                &kp F12   &kp F1      &kp F2      &kp F3    &kp F4      &kp F5     &trans  &trans  &trans  &kp F6     &kp F7     &kp F8  &kp F9      &kp F10       &kp F11
                &trans    &kp PG_UP   &kp HOME    &kp UP    &kp END     &kp PSCRN  &trans  &trans  &trans  &kp NUBS   &kp N7     &kp N8  &kp N9      &kp MINUS     &kp SLASH
                &trans    &kp PG_DN   &kp LEFT    &kp DOWN  &kp RIGHT   &mo LAY    &trans  &trans  &trans  &kp LPAR   &kp N4     &kp N5  &kp N6      &kp EQUAL     &kp RPAR
                &trans    &kp C_MUTE  &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp DEL    &trans  &trans  &trans  &kp LBKT   &kp N1     &kp N2  &kp N3      &kp KP_ENTER  &kp RBKT
                &kp RGUI  &none       &none       &trans    &kp RCTRL   &kp RSHFT  &trans  &trans  &trans  &kp SPACE  &kp LALT   &kp N0  &kp KP_DOT  &none         &trans
            >;
        };

        legacy_layer {
            bindings = <
                &none  &none  &none     &none     &none     &none   &none  &none  &none  &none  &none  &none  &none  &none  &none
                &none  &none  &none     &none     &none     &none   &none  &none  &none  &none  &none  &none  &none  &none  &none
                &none  &none  &tog DVO  &tog QWE  &tog WOR  &trans  &none  &none  &none  &none  &none  &none  &none  &none  &none
                &none  &none  &none     &none     &none     &none   &none  &none  &none  &none  &none  &none  &none  &none  &none
                &none  &none  &none     &none     &none     &none   &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;
        };
    };
};